:root {
  --primary-text-color: rgb(237, 237, 246);
  --container-bg-color: rgb(237, 237, 246);
  --hands-color: rgb(224, 184, 3);
  --name-color: #0b096c;

}

body {
  background: linear-gradient(82deg, rgb(4, 2, 47) 0%, rgb(8, 8, 99) 69%, rgba(13,8,148,1) 100%);
  background-attachment: fixed;
}

button {
  width: 200px;
  box-sizing: border-box;
  margin-bottom: 1rem;
  padding: 7px;
  background-color: var(--container-bg-color);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  font-weight: 600;
}
button:hover {
  opacity: 0.8;
}

input {
  width: 200px;
  box-sizing: border-box;
  padding: 7px;
  background-color: var(--container-bg-color);
  border: none;
  border-radius: 8px;
}

input:focus {
  outline-color: var(--hands-color);
  outline-width: 2px;
  outline-style: solid;
}

p, ul, label, button, input, ::placeholder {
  margin-top: 0.5rem;
  font-size: 0.7rem;
  line-height: 1rem;
}

header {

  & h1 {
    margin-top: 1rem;
    font-family: "Teko";
    text-align: center;
    color: var(--primary-text-color);
    font-size: 1.4rem;
    text-shadow: rgb(14, 13, 13) 3px 2px 1px;
  }
}

main {
  width: 80vw;
  height: 80vh;
  margin: auto;
  padding: 30px;
  font-family: 'Segoe UI', Tahoma, sans-serif;
}



