:root {
  --primary-text-color: rgb(237, 237, 246);
  --container-bg-color: rgb(237, 237, 246);
}

body {
  background: linear-gradient(82deg, rgb(4, 2, 47) 0%, rgb(8, 8, 99) 69%, rgba(13,8,148,1) 100%);
  height: 100vh;
}

button {
  width: 200px;
  box-sizing: border-box;
  padding: 7px;
  background-color: var(--container-bg-color);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
button:hover {
  opacity: 0.8;
}

input {
  width: 200px;
  box-sizing: border-box;
  padding: 7px;
  background-color: var(--container-bg-color);
  border: none;
  border-radius: 8px;
}

input:focus {
  outline-color: #00f;
  outline-width: 2px;
  outline-style: solid;
  box-shadow: 0 0 5px #00f;
}

header {

  & h1 {
    margin-top: 1rem;
    font-family: "Teko";
    text-align: center;
    color: var(--primary-text-color);
    font-size: 1.4rem;
    text-shadow: rgb(14, 13, 13) 3px 2px 1px;
  }
}

h2 {
  font-size: 1rem;
  font-weight: 700;
}

main {
  width: 80vw;
  height: 80vh;
  margin: auto;
  padding: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



