.container-choice-user {
    width: 70%;
    margin: auto;
    padding: 20px;
    text-align: center;
    background-color: var(--container-bg-color);
    color: rgb(223, 226, 228);
    border-radius: 20px;

    & .container-choice-user__name {
        font-weight: 700;
    }

    & .container-choice-user__sub {
        margin-top: 1rem;
        padding: 15px 0;
        & .sub__icon {
            width: 110px;
            height:100px;
            margin: auto;
            padding: 0.5rem;
            font-size: 5rem;
            text-align: center;
        }
        & .sub__icon:hover {
            background-color: rgb(201, 199, 199);
            cursor: pointer;
        }
        & .sub__icon--players:hover {
            background-color: var(--container-bg-color);
            cursor: default;
        }
        & .sub__name-elem {
            font-weight: 700;
            color: var(--name-color);
        }
    }

    & p, ul {
        font-size: 1rem;
        text-align: center;
        color: black;
        
    }

    .loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 1s linear infinite; /* Safari */
        animation: spin 1s linear infinite;
      }
      
      /* Safari */
      @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
      }
      
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }

}
