main {
    & article {
        padding: 1.5rem;
        background-color: var(--container-bg-color);
        box-shadow: var(--hands-color);
        border-radius: 10px;
    }
    & .container__h2 {
        height: 90px;
        clip-path: polygon(100% 0, 100% 79%, 0 95%, 0 17%);
        background-color: var(--hands-color);
        display: flex;
        justify-content: center;
        align-items: center;

        & h2 {
            font-weight: 800;
            font-size: 1rem;
            color: black;
            text-align: center;
            text-decoration: underline;
            transform: rotate(-3deg);
        }
    }

    & form {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        & label {
            color: var(--primary-text-color);
            font-weight: 600;
        }

    }
}