main {
    & h2 {
        text-align: center;
    }
    & p, ul, label {
        font-size: 0.8rem;
        margin-top: 0.5rem;
        line-height: 1rem;
        text-align: left;
    }

    & form {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        & input, button {
            font-size: 0.8rem;
            margin-top: 0.5rem;
            line-height: 1rem;
        }
    }
}